<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DanhGia</servlet-name>
        <servlet-class>controller.DanhGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhap</servlet-name>
        <servlet-class>controller.DangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKy</servlet-name>
        <servlet-class>controller.DangKy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangXuat</servlet-name>
        <servlet-class>controller.DangXuat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHang</servlet-name>
        <servlet-class>controller.GioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XemGioHang</servlet-name>
        <servlet-class>controller.XemGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietGioHang</servlet-name>
        <servlet-class>controller.ChiTietGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaChiTietGioHang</servlet-name>
        <servlet-class>controller.XoaChiTietGioHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToan</servlet-name>
        <servlet-class>controller.ThanhToan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaGioHang</servlet-name>
        <servlet-class>controller.XoaGioHang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhGia</servlet-name>
        <url-pattern>/DanhGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhap</servlet-name>
        <url-pattern>/DangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKy</servlet-name>
        <url-pattern>/DangKy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangXuat</servlet-name>
        <url-pattern>/DangXuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XemGioHang</servlet-name>
        <url-pattern>/XemGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietGioHang</servlet-name>
        <url-pattern>/ChiTietGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaChiTietGioHang</servlet-name>
        <url-pattern>/XoaChiTietGioHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToan</servlet-name>
        <url-pattern>/ThanhToan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaGioHang</servlet-name>
        <url-pattern>/XoaGioHang</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/chitietsanpham.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DanhMucSanPham</servlet-name>
        <servlet-class>controller.DanhMucSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMucSanPham</servlet-name>
        <url-pattern>/DanhMucSanPham</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ChiTietSanPham</servlet-name>
        <servlet-class>controller.ChiTietSanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChiTietSanPham</servlet-name>
        <url-pattern>/ChiTietSanPham</url-pattern>
    </servlet-mapping>
</web-app>
